* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("C:/Users/aliesha/Downloads/fields.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
header {
  -webkit-box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.43);
  box-shadow: 0px 10px 14px -5px rgba(0,0,0,0.43);
  padding: 15px;
  display: flex;
  justify-content: center;
  background-image: url("C:/Users/aliesha/Downloads/fields.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

}

body > section {
  padding: 20px;
}

/* body > section:nth-child(odd) {
  background-color: #eee;

} */


.intro {
  text-align: center;
  font-size: 33px;
  max-width: 55%;
  line-height: 66px;
  background-color: brown;
  margin-left: 23%;
  color: #fff;
  border: black 5px;
  border-style: solid;
  padding: 10px;
}



h1 {
  display: inline-block;
  font-size: 100px;
  font-family: fantasy;
  margin-top: 100px;
}

h2 {
  display: inline-block;
  font-size: 85px;
  margin-top: 52px;
}

#pitch {
    margin-bottom: 250px;
}


#features {
  background-image: url(C:/Users/aliesha/Downloads/light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
}

#features ol {
  text-align: left;
}

#features li {
  font-size: 45px;
  font-weight: 600;
  color: brown;
  position: relative;
  bottom: 228px;
  margin-left: 88px;
}

.uses {
  text-align: right;
}

.info {
  font-size: 80px;
  font-weight: 600;
  color: brown;
  position: relative;
  margin: 20px 20px;
  bottom: 80px;
}

p.didnt-know {
  font-size: 45px;
  text-align: right;
  line-height: 48px;
  max-width: 500px;
  font-weight: 400;
  margin-left: 60px;
  position: relative;
  bottom: 113px;
}

.history {
  top: 16px;
  position: relative;
  font-size: 36px;
  max-width: 530px;
  margin-left: 20px;
}

.history img {
  max-width: 490px;
  margin-bottom: 45px;
  border: black 2px;
  border-style: solid;
}

.history p {
  text-align: left;
  max-width: 613px;
  font-weight: 600;
  position: relative;
  bottom: 13px;
}

.hemp {
  font-size: 30px;
  color: brown;
  position: relative;
}


.hemp2 {
  font-size: 30px;
  color: brown;
  position: relative;
  bottom: 140px;
  max-width: 486px;
  text-align: center;
  left: 71%;
  bottom: 365px;
  text-align: right;
}


#testimonials {
  min-height: 1060px;
  background: #fff;;
  margin-bottom: 200px;
}

.hemp-house {
  width: 50%;
}

.shades {
  width: 50%;
  position: relative;
  left: 25%;
}

#contact-us {
  min-height: 1060px;
}

.clothing {
  max-width: 300px;
  margin-top: 5px;
  margin-right: -100px;
  position: relative;
  right: 50px;
}

.products {
  position: relative;
  left: 32%;
  top: 144px;
  font-size: 65px;
}

#pricing {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  min-height: 565px;
  margin-bottom: 400px;
}

.tp {
  max-width: 200px;
  margin-bottom: -14px;
}

.makeup {
  max-width: 300px;
  width: 80%;
}

.price-card {
  text-align: center;
  max-height: 200px;
  border-radius: 3px;
  min-width: 125px;
  margin: 20px;
  position: relative;
  bottom: 65px;
  margin-top: 110px;
}

.makeup.price-card {
  margin-top: 167px;
}

.chair {
  max-width: 206px;
  margin-top: 6px;
}

.protein {
  max-width: 207px;
  margin-right: 19px;
}

.milk {
  max-width: 206px;
}

.protein-powder {
  position: relative;
  margin-bottom: 55px;
}


.price-card > .price {
  display: block;
  font-size: 50px;
}

.price-card > .plan-name {
  background-color: royalblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 20px;
}
.price-card > .per-month {
  display: block;
  font-size: 21px;
  color: grey;
}

.price-card > .buy {
  background-color: red;
  color: white;
  border: 3px solid red;
  border-radius: 100px;
  margin-top: 25px;
  width: 55%;
  font-weight: 500;
  min-width: 200px;
  min-height: 65px;
  font-size: 24px;
}

.price-card > .buy:hover {
  background-color: white;
  color: red;
  cursor: pointer;
  width: 55%;
  /* border-radius: 100px; */
  min-height: 65px;
}

@media only screen and (max-width: 613px) {
  .price-card {
    text-align: center;
    border: 1px solid royalblue;
    min-height: 300px;
    border-radius: 3px;
    min-width: 225px;
    margin: 20px;
  }

  .price-card > .per-month {
    display: block;
    font-size: 35px;
    color: grey;
  }

  .price-card > .price {
    font-size: 85px;
  }

}